<div class="row">
    <div class="col-sm-12"><h3>Ecology <small>Climate and ecosystem</small></h3></div>
</div>
<div id="EcologyData" class="row">
    <div class="col-sm-12 data-area" data-url="Ecology" data-size="3">
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var element = $('#EcologyData .data-area');
        element.data('default-count', 4);
    });
</script>