<div class="row">
    <div class="col-sm-12"><h3>Genre <small>Story, general gameplay, and an interesting location</small></h3></div>
</div>
<div id="GenreData" class="row">
    <div class="col-sm-12 data-area" data-url="Genre" data-size="3">
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var element = $('#GenreData .data-area');
        element.data('default-count', 4);
    });
</script>