<div class="row">
    <div class="col-sm-12"><h3>Exotic Site <small>Physical setting for game, legendary sites to visit</small></h3></div>
</div>
<div id="LocationData" class="row">
    <div class="col-sm-12 data-area" data-url="Location" data-size="3">
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var element = $('#LocationData .data-area');
        element.data('default-count', 4);
    });
</script>