<div class="row">
    <div class="col-sm-12"><h3>Interesting Equipment <small>Iconic items for characters, e.g., Dr. Who's sonic screwdriver</small></h3></div>
</div>
<div id="ToolData" class="row">
    <div class="col-sm-12 data-area" data-url="InterestingItem" data-size="3">
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var element = $('#ToolData .data-area');
        element.data('default-count', 4);
    });
</script>