<div class="row">
    <div class="col-sm-12"><h3>Vehicles <small>Assorted distinctive vehicles</small></h3></div>
</div>
<div id="VehicleData" class="row">
    <div class="col-sm-12 data-area" data-url="Vehicle" data-size="3">
    </div>
    <div class="template hide">
        <strong class="vehicle-name"></strong>
        <div class="hide vehicle-movement">
            <strong>Movement:</strong> <span class="data"></span>
        </div>
        <div class="hide vehicle-characteristic">
            <strong>Distinctive characteristic:</strong> <span class="data"></span>
        </div>
        <div class="hide vehicle-material">
            <strong>Material:</strong> <span class="data"></span>
        </div>
        <div class="hide vehicle-technology">
            <strong>Technology level:</strong> <span class="data"></span>
        </div>
        <div class="hide vehicle-size">
            <strong>Size:</strong> <span class="data"></span>
        </div>
        <div class="hide vehicle-offenses">
            <strong>Offenses:</strong> <span class="data"></span>
        </div>
        <div class="hide vehicle-defenses">
            <strong>Defenses:</strong> <span class="data"></span>
        </div>
        <div class="hide vehicle-armor">
            <strong>Armor:</strong> <span class="data"></span>
        </div>
        <div class="hide vehicle-power">
            <strong>Power source:</strong> <span class="data"></span>
        </div>
        <div class="hide vehicle-range">
            <strong>Maximum range:</strong> <span class="data"></span>
        </div>
        <div class="hide vehicle-speed">
            <strong>Maximum speed:</strong> <span class="data"></span>
        </div>
        <div class="hide vehicle-cargo">
            <strong>Cargo capacity:</strong> <span class="data"></span>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var element = $('#VehicleData .data-area');
        element.data('display', VehicleDisplay);
        element.data('parameters', VehicleParameters);
        element.data('default-count', 4);
    });
    
    //  Takes a VmGeneral object in JSON format as
    //  its parameter. This object contains Vehicle
    //  information. Returns the object as HTML.
    function VehicleDisplay(item) {
        var result = $('#VehicleData').children('.template').clone();
        var vehicleName = ""
        if (item.Condition) vehicleName = item.Condition.Name + " ";
        vehicleName += item.BaseVehicle.Name;
        result.find('.vehicle-name').html(ProperCase(vehicleName));
        if (item.Movement) SetChildDataElement(result, '.vehicle-movement', item.Movement.Name);
        if (item.Characteristic) SetChildDataElement(result, '.vehicle-characteristic', CustomCase(item.Characteristic.Name));
        if (item.Material) SetChildDataElement(result, '.vehicle-material', item.Material.Name);
        if (item.Technology) SetChildDataElement(result, '.vehicle-technology', CustomCase(item.Technology.Name));
        if (item.Size) SetChildDataElement(result, '.vehicle-size', item.Size.Name);
        if (item.Offenses) SetChildDataElement(result, '.vehicle-offenses', item.Offenses.Name);
        if (item.Defenses) SetChildDataElement(result, '.vehicle-defenses', item.Defenses.Name);
        if (item.Armor) SetChildDataElement(result, '.vehicle-armor', item.Armor.Name);
        if (item.Power) SetChildDataElement(result, '.vehicle-power', CustomCase(item.Power.Name));
        if (item.Range) SetChildDataElement(result, '.vehicle-range', item.Range.Name);
        if (item.Speed) SetChildDataElement(result, '.vehicle-speed', item.Speed.Name);
        if (item.Cargo) SetChildDataElement(result, '.vehicle-cargo', item.Cargo.Name);
        result.removeClass('hide');
        result.removeClass('template');
        return result;
    }

    function VehicleParameters() {
        return {
            count: GetCount(),
            attrCount: 2
        };
    }
</script>