<div class="row">
    <div class="col-sm-11"><h3 style="display:inline-block">Character Profile</h3>&nbsp;<a id="HideCharacterIcon" class="glyphicon"></a>&nbsp;<span id="CharacterQuantity"></span></div>
    <div class="col-sm-1">
        <div id="GenCharacter" class="btn btn-primary btn-block" onclick="GetCharacters()">Gen</div>
    </div>
</div>
<div id="CharacterData"></div>
<script type="text/javascript">

    var CharacterClass = 'Character';
    var HideCharacterIcon = 'Hide' + CharacterClass + 'Icon';
    var expandCharacterIcon = 'glyphicon-plus-sign';
    var collapseCharacterIcon = 'glyphicon-minus-sign'
    var CharacterData = CharacterClass + 'Data';

    $(document).ready(function () {
        var icon = $('#' + HideCharacterIcon);
        var data = $('#' + CharacterData);
        icon.addClass(collapseCharacterIcon);
        icon.css('text-decoration', 'none');

        icon.on('click', function () {
            if (icon.hasClass(expandCharacterIcon)) {
                //  expand
                icon.removeClass(expandCharacterIcon);
                icon.addClass(collapseCharacterIcon);
                data.show();
            } else {
                //  collapse
                icon.removeClass(collapseCharacterIcon);
                icon.addClass(expandCharacterIcon);
                data.hide();
            }
        });

        $('#Gen' + CharacterClass).click();
    });
    
    function GetCharacters() {
        $.ajax({
            method: 'get',
            url: '@Url.Action("_Z_")'.replace('_Z_', CharacterClass),
            dataType: 'html',
            success: RenderCharacter
        });
    }

    function XRenderCharacter (data) {
        //  reload this partial view with the new view model
        //  This ID tag is on the parent DIV in the Index, and
        //  does NOT appear in this view.
        var div = $('<div></div>');
        div.addClass('panel');
        var dataArea = $('#' + CharacterData);
        div.css('padding', '15px');
        div.css('border-radius', '15px');
        div.html(data);
        dataArea.prepend(div);
        div.css('box-shadow', '0 0 1pt 0pt #b0b0b0');

        if (dataArea.children().size() % 2 == 0) {
            //  evens
            div.css('background-color', '#f0f0f0');
        } else {
            //  odds
            div.css('background-color', '#ffffff');
        }
        UpdateCharacterQuantity();
    }

    function RenderCharacter(data) {

        //  create the container that holds the game's partial-view
        var div = $('<div></div>');
        div.addClass('panel');
        var dataArea = $('#' + CharacterData);
        var divID = 'Delete' + CharacterData + dataArea.children().length;
        div.css('padding', '15px');
        div.css('border-radius', '15px');
        div.css('box-shadow', '0 0 1pt 0pt #b0b0b0');
        div.attr('id', divID);

        //  create the self-delete button
        var delButton = $('<div></div>');
        delButton.addClass('btn btn-danger text-right');
        delButton.html('Delete');
        delButton.on('click', function () {
            $('#' + divID).remove();
            UpdateCharacterQuantity();
        });

        //  create the container for the self-delete button
        var buttonCol = $('<div></div>');
        buttonCol.addClass('col-sm-2 text-right');
        //  put the button in the container
        buttonCol.html(delButton);

        //  render the game data into the panel
        div.html(data);

        //  add the delete-button-container to the game data
        div.find('.col-sm-10').first().after(buttonCol);

        //  add the game panel to the top of the data area
        dataArea.prepend(div);

        if (dataArea.children().size() % 2 == 0) {
            //  evens
            div.css('background-color', '#f0f0f0');
        } else {
            //  odds
            div.css('background-color', '#ffffff');
        }

        UpdateCharacterQuantity();
    }

    function UpdateCharacterQuantity() {
        var dataArea = $('#' + CharacterData);
        var count = dataArea.children().length;
        if (count > 0) {
            $('#CharacterQuantity').text(count);
        } else {
            $('#CharacterQuantity').text('');
        }
    }
</script>
