<div class="col-sm-6 vertical-center section-control-panel" style="background-color:#d0d0ff; padding: 1px 1px 1px 1px;">
    <label class="label-quantity" data-tooltip="Number of results to generate" style="padding:10px 10px 5px 5px;">5</label>
    <input class="btn btn-info pull-right btn-operation" href="#" type="button" data-value="=" data-tootltip="Assign or Adjust number of Results" value="+" onclick="SwapOperation(this)" />
    <input class="btn btn-info pull-right btn-adjust-value" href="#" type="button" data-value="1" value="+1" onclick="AdjustQuantity(this)"/>
    <input class="btn btn-info pull-right btn-adjust-value" href="#" type="button" data-value="5" value="+5" onclick="AdjustQuantity(this)"/>
    <input class="btn btn-info pull-right btn-adjust-value" href="#" type="button" data-value="10" value="+10" onclick="AdjustQuantity(this)"/>
    <input class="btn btn-success pull-right" href="#" type="button" value="Generate" onclick="GenerateContent(this)"/>
    <input class="btn btn-danger pull-right" href="#" type="button" data-tooltip="Remove generated results" value="Clear" />
</div>
