@model Sparks.Models.ViewModel.VmSimpleIdea
<div class="row">
    <div class="col-sm-10"><h4>Theme & Setting</h4>
    </div>
</div>
<p />
<div class="row">
    <div class="col-sm-12">
        <div><strong>@Model.Theme.Design.Name themed @Model.Theme.Genre.Name game</strong>, set in @Model.Setting.NamePrep <strong>@Model.Setting.Name</strong></div>
    </div>
</div>